In [1]:
#Setting up and pulling information

In [2]:
import pandas as pd

schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

schools_data = pd.read_csv(schools_csv)
students_data = pd.read_csv(students_csv)

In [3]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District summary

In [6]:
#Total number of unique schools
Total_Num_Schools = len(schools_data["school_name"].unique())
Total_Num_Schools

15

In [7]:
#Total students
Total_Num_Students = schools_data["size"].sum()
Total_Num_Students.astype('float')

39170.0

In [8]:
#Total budget
Total_District_Budget = schools_data["budget"].sum()
Total_District_Budget

24649428

In [9]:
#Average math score
Math_Average = round((students_data["math_score"].mean()), 0)
Math_Average

79.0

In [10]:
#Average reading score
Reading_Average = round((students_data["reading_score"].mean()), 0)
Reading_Average

82.0

In [11]:
#% passing math (the percentage of students who passed math) provided passing sore is 60
Rows_math_passed = students_data[students_data["math_score"]>69]
Num_math_passed = Rows_math_passed["math_score"].count()
Percentage_Passed_Math = '{:,.2%}'.format(Num_math_passed/Total_Num_Students)
Percentage_Passed_Math

'74.98%'

In [12]:
#% passing reading (the percentage of students who passed reading)
Rows_reading_passed = students_data[students_data["reading_score"]>69]
Num_reading_passed = Rows_reading_passed["reading_score"].count()
Percentage_Passed_Reading = '{:,.2%}'.format(Num_reading_passed/Total_Num_Students)
Percentage_Passed_Reading

'85.81%'

In [13]:
#% overall passing (the percentage of students who passed math AND reading)
passing_student = students_data[(students_data["math_score"]>69) & (students_data["reading_score"]>69)]
Percentage_Passed_Overall = '{:,.2%}'.format((passing_student["Student ID"].count())/Total_Num_Students)
Percentage_Passed_Overall

'65.17%'

In [14]:
District_Sumary = [{"Number of Schools":Total_Num_Schools, "Number of Students":Total_Num_Students, 
                    "Total Budget":'${:,.2f}'.format(Total_District_Budget), "Average Math Score":Math_Average, 
                    "Average Reading Score":Reading_Average, "% Passing Math":Percentage_Passed_Math,
                   "% Passing Reading":Percentage_Passed_Reading, "% Overall Passing":Percentage_Passed_Reading}]

District_Sumary_df = pd.DataFrame(District_Sumary)
District_Sumary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,74.98%,85.81%,85.81%

In [15]:
#School Summary

In [16]:
schools_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [17]:
school_sort = schools_data.set_index(["school_name"])
school_sort.head()

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500

In [18]:
per_school_counts = school_sort["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [19]:
Number_of_schools = school_sort.count()
Number_of_schools

School ID    15
type         15
size         15
budget       15
dtype: int64

In [20]:
per_school_budget = school_sort["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [21]:
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [22]:
student_sort = students_data.set_index("school_name")
student_sort.head()

,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79
Huang High School,1,Victor Smith,M,12th,94,61
Huang High School,2,Kevin Rodriguez,M,12th,90,60
Huang High School,3,Dr. Richard Scott,M,12th,67,58
Huang High School,4,Bonnie Ray,F,9th,97,84

In [23]:
schools_grouped = student_sort.groupby(['school_name'])

school_averages = schools_grouped.mean()
school_averages

                       Student ID  reading_score  math_score
school_name
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222

In [24]:
passing_math_and_reading = student_sort[(student_sort['math_score']>69) & (student_sort['reading_score']>69)]

In [25]:
per_school_passing_math = Rows_math_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [26]:
per_school_passing_reading = Rows_reading_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [27]:
per_school_passing_both = passing_math_and_reading.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_both

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [38]:
school_sort_new = school_sort.rename(columns = {'size':'Total Students', 'budget':'Total School Budget', 'type':'School Type'})
school_sort_new

,School ID,School Type,Total Students,Total School Budget
school_name,,,,
Huang High School,0,District,2917,1910635
Figueroa High School,1,District,2949,1884411
Shelton High School,2,Charter,1761,1056600
Hernandez High School,3,District,4635,3022020
Griffin High School,4,Charter,1468,917500
Wilson High School,5,Charter,2283,1319574
Cabrera High School,6,Charter,1858,1081356
Bailey High School,7,District,4976,3124928
Holden High School,8,Charter,427,248087
Pena High School,9,Charter,962,585858
Wright High School,10,Charter,1800,1049400
Rodriguez High School,11,District,3999,2547363
Johnson High School,12,District,4761,3094650
Ford High School,13,District,2739,1763916
Thomas High School,14,Charter,1635,1043130

In [39]:
school_sort_new.pop('School ID')

school_name
Huang High School         0
Figueroa High School      1
Shelton High School       2
Hernandez High School     3
Griffin High School       4
Wilson High School        5
Cabrera High School       6
Bailey High School        7
Holden High School        8
Pena High School          9
Wright High School       10
Rodriguez High School    11
Johnson High School      12
Ford High School         13
Thomas High School       14
Name: School ID, dtype: int64

In [41]:
school_sort_new

                      School Type  Total Students  Total School Budget
school_name
Huang High School        District            2917              1910635
Figueroa High School     District            2949              1884411
Shelton High School       Charter            1761              1056600
Hernandez High School    District            4635              3022020
Griffin High School       Charter            1468               917500
Wilson High School        Charter            2283              1319574
Cabrera High School       Charter            1858              1081356
Bailey High School       District            4976              3124928
Holden High School        Charter             427               248087
Pena High School          Charter             962               585858
Wright High School        Charter            1800              1049400
Rodriguez High School    District            3999              2547363
Johnson High School      District            4761              3094650
Ford High School         District            2739              1763916
Thomas High School        Charter            1635              1043130

In [44]:
school_sort_new["Per Student Budget"] = per_student_budget
school_sort_new

,School Type,Total Students,Total School Budget,Per Student Budget
school_name,,,,
Huang High School,District,2917,1910635,655.0
Figueroa High School,District,2949,1884411,639.0
Shelton High School,Charter,1761,1056600,600.0
Hernandez High School,District,4635,3022020,652.0
Griffin High School,Charter,1468,917500,625.0
Wilson High School,Charter,2283,1319574,578.0
Cabrera High School,Charter,1858,1081356,582.0
Bailey High School,District,4976,3124928,628.0
Holden High School,Charter,427,248087,581.0
Pena High School,Charter,962,585858,609.0
Wright High School,Charter,1800,1049400,583.0
Rodriguez High School,District,3999,2547363,637.0
Johnson High School,District,4761,3094650,650.0
Ford High School,District,2739,1763916,644.0
Thomas High School,Charter,1635,1043130,638.0

In [48]:
school_sort_new["Average Math Score"] = school_averages['math_score']
school_sort_new["Average Reading Score"] = school_averages['reading_score']
school_sort_new

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963
Holden High School,Charter,427,248087,581.0,83.803279,83.814988
Pena High School,Charter,962,585858,609.0,83.839917,84.044699
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394
Ford High School,District,2739,1763916,644.0,77.102592,80.746258
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930

In [49]:
school_sort_new["% Passing Math"] = per_school_passing_math
school_sort_new["% Passing Reading"] = per_school_passing_reading
school_sort_new["% Overall Passing"] = per_school_passing_both

In [50]:
school_sort_new

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [55]:
#Part Three

In [53]:
top_schools = school_sort_new.sort_values("% Overall Passing", ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [54]:
bottom_schools = school_sort_new.sort_values("% Overall Passing", ascending=True)
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [57]:
Grade_Level_grouped = student_sort.groupby(['school_name', 'grade'])

Grade_averages = Grade_Level_grouped.mean()
Grade_averages

                               Student ID  reading_score  math_score
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

In [58]:
#binning by spending

In [59]:
spending_bins = [0, 585, 630, 645, 680]

In [60]:
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [61]:
school_spending = school_sort_new

In [63]:
school_spending['Spending Ranges (Per Student)'] = pd.cut(school_spending['Per Student Budget'], 
                                                          spending_bins, labels=labels, include_lowest=True)

In [64]:
school_spending

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645

In [65]:
spending_math_scores = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [66]:
spending_math_scores

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: Average Math Score, dtype: float64

In [67]:
spending_reading_scores

Spending Ranges (Per Student)
<$585       83.933814
$585-630    83.155286
$630-645    81.624473
$645-680    81.027843
Name: Average Reading Score, dtype: float64

In [68]:
spending_passing_math

Spending Ranges (Per Student)
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64

In [69]:
spending_passing_reading

Spending Ranges (Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64

In [70]:
overall_passing_spending

Spending Ranges (Per Student)
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % Overall Passing, dtype: float64

In [75]:
spending_summary = school_spending.groupby(["Spending Ranges (Per Student)"]).mean()

In [76]:
spending_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,,,
<$585,1592.000000,9.246042e+05,581.000000,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,2291.750000,1.421222e+06,615.500000,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,2830.500000,1.809705e+06,639.500000,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,4104.333333,2.675768e+06,652.333333,76.997210,81.027843,66.164813,81.133951,53.526855

In [77]:
#binning by school size

In [78]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#school_spending['Spending Ranges (Per Student)'] = pd.cut(school_spending['Per Student Budget'], 
                                                          #spending_bins, labels=labels, include_lowest=True)

In [79]:
school_size = school_sort_new

In [80]:
school_size['Size Range'] = pd.cut(school_size['Total Students'], size_bins, labels=labels, include_lowest=True)
school_size

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),Size Range
school_name,,,,,,,,,,,
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680,Large (2000-5000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585,Medium (1000-2000)
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585,Small (<1000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630,Small (<1000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585,Medium (1000-2000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645,Large (2000-5000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645,Medium (1000-2000)

In [81]:
school_summary = school_size.groupby(["Size Range"]).mean()

In [82]:
school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Size Range,,,,,,,,
Small (<1000),694.500,416972.500,595.000,83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),1704.400,1029597.200,605.600,83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),3657.375,2333437.125,635.375,77.746417,81.344493,69.963361,82.766634,58.286003

In [83]:
#binning by school type

In [84]:
type_summary = school_sort_new.groupby(["School Type"]).mean()

In [85]:
type_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,,,
Charter,1524.250000,9.126881e+05,599.500000,83.473852,83.896421,93.620830,96.586489,90.432244
District,3853.714286,2.478275e+06,643.571429,76.956733,80.966636,66.548453,80.799062,53.672208