In [1]:
#Setting up and pulling information

In [2]:
import pandas as pd

schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

schools_data = pd.read_csv(schools_csv)
students_data = pd.read_csv(students_csv)

In [3]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District summary

In [6]:
#Total number of unique schools
Total_Num_Schools = len(schools_data["school_name"].unique())
Total_Num_Schools

15

In [7]:
#Total students
Total_Num_Students = schools_data["size"].sum()
Total_Num_Students.astype('float')

39170.0

In [8]:
#Total budget
Total_District_Budget = schools_data["budget"].sum()
Total_District_Budget

24649428

In [9]:
#Average math score
Math_Average = round((students_data["math_score"].mean()), 0)
Math_Average

79.0

In [10]:
#Average reading score
Reading_Average = round((students_data["reading_score"].mean()), 0)
Reading_Average

82.0

In [11]:
#% passing math (the percentage of students who passed math) provided passing sore is 60
Rows_math_passed = students_data[students_data["math_score"]>69]
Num_math_passed = Rows_math_passed["math_score"].count()
Percentage_Passed_Math = '{:,.2%}'.format(Num_math_passed/Total_Num_Students)
Percentage_Passed_Math

'74.98%'

In [12]:
#% passing reading (the percentage of students who passed reading)
Rows_reading_passed = students_data[students_data["reading_score"]>69]
Num_reading_passed = Rows_reading_passed["reading_score"].count()
Percentage_Passed_Reading = '{:,.2%}'.format(Num_reading_passed/Total_Num_Students)
Percentage_Passed_Reading

'85.81%'

In [13]:
#% overall passing (the percentage of students who passed math AND reading)
passing_student = students_data[(students_data["math_score"]>69) & (students_data["reading_score"]>69)]
Percentage_Passed_Overall = '{:,.2%}'.format((passing_student["Student ID"].count())/Total_Num_Students)
Percentage_Passed_Overall

'65.17%'

In [14]:
District_Sumary = [{"Number of Schools":Total_Num_Schools, "Number of Students":Total_Num_Students, 
                    "Total Budget":'${:,.2f}'.format(Total_District_Budget), "Average Math Score":Math_Average, 
                    "Average Reading Score":Reading_Average, "% Passing Math":Percentage_Passed_Math,
                   "% Passing Reading":Percentage_Passed_Reading, "% Overall Passing":Percentage_Passed_Reading}]

District_Sumary_df = pd.DataFrame(District_Sumary)
District_Sumary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,74.98%,85.81%,85.81%

In [15]:
#School Summary

In [16]:
schools_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [52]:
school_sort = schools_data.set_index(["school_name"])
school_sort.head()

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500

In [53]:
per_school_counts = school_sort["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [55]:
Number_of_schools = school_sort.count()
Number_of_schools

School ID    15
type         15
size         15
budget       15
dtype: int64

In [56]:
per_school_budget = school_sort["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [57]:
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [58]:
student_sort = students_data.set_index("school_name")
student_sort.head()

,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79
Huang High School,1,Victor Smith,M,12th,94,61
Huang High School,2,Kevin Rodriguez,M,12th,90,60
Huang High School,3,Dr. Richard Scott,M,12th,67,58
Huang High School,4,Bonnie Ray,F,9th,97,84

In [63]:
schools_grouped = student_sort.groupby(['school_name'])

school_averages = schools_grouped.mean()
school_averages

                       Student ID  reading_score  math_score
school_name
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222

In [66]:
passing_math_and_reading = student_sort[(student_sort['math_score']>69) & (student_sort['reading_score']>69)]

In [69]:
per_school_passing_math = Rows_math_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_math

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [70]:
per_school_passing_reading = Rows_reading_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_reading

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [71]:
per_school_passing_both = passing_math_and_reading.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_both

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64