In [1]:
#Setting up and pulling information

In [2]:
import pandas as pd

schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

schools_data = pd.read_csv(schools_csv)
students_data = pd.read_csv(students_csv)

In [3]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District summary

In [7]:
#Total number of unique schools
Total_Num_Schools = len(schools_data["school_name"].unique())
Total_Num_Schools

15

In [49]:
#Total students
Total_Num_Students = schools_data["size"].sum()
Total_Num_Students.astype('float')

39170.0

In [11]:
#Total budget
Total_District_Budget = schools_data["budget"].sum()
Total_District_Budget

24649428

In [13]:
#Average math score
Math_Average = round((students_data["math_score"].mean()), 0)
Math_Average

79.0

In [14]:
#Average reading score
Reading_Average = round((students_data["reading_score"].mean()), 0)
Reading_Average

82.0

In [39]:
#% passing math (the percentage of students who passed math) provided passing sore is 60
Rows_math_passed = students_data[students_data["math_score"]>69]
Num_math_passed = Rows_math_passed["math_score"].count()
Percentage_Passed_Math = '{:,.2%}'.format(Num_math_passed/Total_Num_Students)
Percentage_Passed_Math

'74.98%'

In [40]:
#% passing reading (the percentage of students who passed reading)
Rows_reading_passed = students_data[students_data["reading_score"]>69]
Num_reading_passed = Rows_reading_passed["reading_score"].count()
Percentage_Passed_Reading = '{:,.2%}'.format(Num_reading_passed/Total_Num_Students)
Percentage_Passed_Reading

'85.81%'

In [41]:
#% overall passing (the percentage of students who passed math AND reading)
passing_student = students_data[(students_data["math_score"]>69) & (students_data["reading_score"]>69)]
Percentage_Passed_Overall = '{:,.2%}'.format((passing_student["Student ID"].count())/Total_Num_Students)
Percentage_Passed_Overall

'65.17%'

In [51]:
District_Sumary = [{"Number of Schools":Total_Num_Schools, "Number of Students":Total_Num_Students, 
                    "Total Budget":'${:,.2f}'.format(Total_District_Budget), "Average Math Score":Math_Average, 
                    "Average Reading Score":Reading_Average, "% Passing Math":Percentage_Passed_Math,
                   "% Passing Reading":Percentage_Passed_Reading, "% Overall Passing":Percentage_Passed_Reading}]

District_Sumary_df = pd.DataFrame(District_Sumary)
District_Sumary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,74.98%,85.81%,85.81%