# PyCity Schools Analysis

Summary:
As a whole, Charter schools yield higher passing rates than District schools while spedning less per student.
As a whole, Schools with smaller group sizes (2000

#### Setting Up the Analysis

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
schools_data = pd.read_csv(schools_csv)
students_data = pd.read_csv(students_csv)

In [2]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

## District summary

In [4]:
#Total number of unique schools
Total_Num_Schools = len(schools_data["school_name"].unique())
Total_Num_Schools

15

In [5]:
#Total students
Total_Num_Students = schools_data["size"].sum()
Total_Num_Students.astype('float')

39170.0

In [6]:
#Total budget
Total_District_Budget = schools_data["budget"].sum()
Total_District_Budget

24649428

In [7]:
#Average math score
Math_Average = round((students_data["math_score"].mean()), 0)
Math_Average

79.0

In [8]:
#Average reading score
Reading_Average = round((students_data["reading_score"].mean()), 0)
Reading_Average

82.0

In [9]:
#% passing math (the percentage of students who passed math) provided passing sore is 60
Rows_math_passed = students_data[students_data["math_score"]>69]
Num_math_passed = Rows_math_passed["math_score"].count()
Percentage_Passed_Math = '{:,.2%}'.format(Num_math_passed/Total_Num_Students)
Percentage_Passed_Math

'74.98%'

In [10]:
#% passing reading (the percentage of students who passed reading)
Rows_reading_passed = students_data[students_data["reading_score"]>69]
Num_reading_passed = Rows_reading_passed["reading_score"].count()
Percentage_Passed_Reading = '{:,.2%}'.format(Num_reading_passed/Total_Num_Students)
Percentage_Passed_Reading

'85.81%'

In [11]:
#% overall passing (the percentage of students who passed math AND reading)
passing_student = students_data[(students_data["math_score"]>69) & (students_data["reading_score"]>69)]
Percentage_Passed_Overall = '{:,.2%}'.format((passing_student["Student ID"].count())/Total_Num_Students)
Percentage_Passed_Overall

'65.17%'

In [12]:
District_Sumary = [{"Number of Schools":Total_Num_Schools, "Number of Students":Total_Num_Students, 
                    "Total Budget":'${:,.2f}'.format(Total_District_Budget), "Average Math Score":Math_Average, 
                    "Average Reading Score":Reading_Average, "% Passing Math":Percentage_Passed_Math,
                   "% Passing Reading":Percentage_Passed_Reading, "% Overall Passing":Percentage_Passed_Reading}]

District_Sumary_df = pd.DataFrame(District_Sumary)
District_Sumary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,74.98%,85.81%,85.81%

## School Summary

In [13]:
schools_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [14]:
school_sort = schools_data.rename(columns = {'type':'School Type', 'budget':'Total School Budget', 'size':'Total Students'})

In [15]:
#Select school and district
school_sort = school_sort.set_index(["school_name", "School Type"])
school_sort.head()

,,School ID,Total Students,Total School Budget
school_name,School Type,,,
Huang High School,District,0,2917,1910635
Figueroa High School,District,1,2949,1884411
Shelton High School,Charter,2,1761,1056600
Hernandez High School,District,3,4635,3022020
Griffin High School,Charter,4,1468,917500

In [16]:
#Total Student count
per_school_counts = school_sort["Total Students"]
per_school_counts

school_name            School Type
Huang High School      District       2917
Figueroa High School   District       2949
Shelton High School    Charter        1761
Hernandez High School  District       4635
Griffin High School    Charter        1468
Wilson High School     Charter        2283
Cabrera High School    Charter        1858
Bailey High School     District       4976
Holden High School     Charter         427
Pena High School       Charter         962
Wright High School     Charter        1800
Rodriguez High School  District       3999
Johnson High School    District       4761
Ford High School       District       2739
Thomas High School     Charter        1635
Name: Total Students, dtype: int64

In [17]:
per_school_budget = school_sort["Total School Budget"]
per_school_budget

school_name            School Type
Huang High School      District       1910635
Figueroa High School   District       1884411
Shelton High School    Charter        1056600
Hernandez High School  District       3022020
Griffin High School    Charter         917500
Wilson High School     Charter        1319574
Cabrera High School    Charter        1081356
Bailey High School     District       3124928
Holden High School     Charter         248087
Pena High School       Charter         585858
Wright High School     Charter        1049400
Rodriguez High School  District       2547363
Johnson High School    District       3094650
Ford High School       District       1763916
Thomas High School     Charter        1043130
Name: Total School Budget, dtype: int64

In [18]:
#Per capita spending
per_student_budget = per_school_budget / per_school_counts
per_student_budget

school_name            School Type
Huang High School      District       655.0
Figueroa High School   District       639.0
Shelton High School    Charter        600.0
Hernandez High School  District       652.0
Griffin High School    Charter        625.0
Wilson High School     Charter        578.0
Cabrera High School    Charter        582.0
Bailey High School     District       628.0
Holden High School     Charter        581.0
Pena High School       Charter        609.0
Wright High School     Charter        583.0
Rodriguez High School  District       637.0
Johnson High School    District       650.0
Ford High School       District       644.0
Thomas High School     Charter        638.0
dtype: float64

In [19]:
student_sort = students_data.set_index("school_name")
student_sort.head()

,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79
Huang High School,1,Victor Smith,M,12th,94,61
Huang High School,2,Kevin Rodriguez,M,12th,90,60
Huang High School,3,Dr. Richard Scott,M,12th,67,58
Huang High School,4,Bonnie Ray,F,9th,97,84

In [20]:
#Average test scores
schools_grouped = student_sort.groupby(['school_name'])
school_averages = schools_grouped.mean()
school_averages

                       Student ID  reading_score  math_score
school_name
Bailey High School        20358.5      81.033963   77.048432
Cabrera High School       16941.5      83.975780   83.061895
Figueroa High School       4391.0      81.158020   76.711767
Ford High School          36165.0      80.746258   77.102592
Griffin High School       12995.5      83.816757   83.351499
Hernandez High School      9944.0      80.934412   77.289752
Holden High School        23060.0      83.814988   83.803279
Huang High School          1458.0      81.182722   76.629414
Johnson High School       32415.0      80.966394   77.072464
Pena High School          23754.5      84.044699   83.839917
Rodriguez High School     28035.0      80.744686   76.842711
Shelton High School        6746.0      83.725724   83.359455
Thomas High School        38352.0      83.848930   83.418349
Wilson High School        14871.0      83.989488   83.274201
Wright High School        25135.5      83.955000   83.682222

In [21]:
school_averages.dtypes

Student ID       float64
reading_score    float64
math_score       float64
dtype: object

In [22]:
school_averages['math_score']=school_averages['math_score'].astype(int)

In [23]:
school_averages_math = school_averages['math_score']
school_averages_reading = school_averages['reading_score']

In [24]:
#Number of schools with math and reading scores of 70 or higher
School_70_plus = school_averages[school_averages['math_score']>70].count()
School_70_plus

Student ID       15
reading_score    15
math_score       15
dtype: int64

In [25]:
passing_math_and_reading = student_sort[(student_sort['math_score']>69) & (student_sort['reading_score']>69)]

In [26]:
#Passing rates
per_school_passing_math = Rows_math_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_math

school_name            School Type
Huang High School      District       65.683922
Figueroa High School   District       65.988471
Shelton High School    Charter        93.867121
Hernandez High School  District       66.752967
Griffin High School    Charter        93.392371
Wilson High School     Charter        93.867718
Cabrera High School    Charter        94.133477
Bailey High School     District       66.680064
Holden High School     Charter        92.505855
Pena High School       Charter        94.594595
Wright High School     Charter        93.333333
Rodriguez High School  District       66.366592
Johnson High School    District       66.057551
Ford High School       District       68.309602
Thomas High School     Charter        93.272171
dtype: float64

In [27]:
per_school_passing_reading = Rows_reading_passed.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_reading

school_name            School Type
Huang High School      District       81.316421
Figueroa High School   District       80.739234
Shelton High School    Charter        95.854628
Hernandez High School  District       80.862999
Griffin High School    Charter        97.138965
Wilson High School     Charter        96.539641
Cabrera High School    Charter        97.039828
Bailey High School     District       81.933280
Holden High School     Charter        96.252927
Pena High School       Charter        95.945946
Wright High School     Charter        96.611111
Rodriguez High School  District       80.220055
Johnson High School    District       81.222432
Ford High School       District       79.299014
Thomas High School     Charter        97.308869
dtype: float64

In [28]:
per_school_passing_both = passing_math_and_reading.groupby(['school_name']).count()["student_name"]/per_school_counts*100
per_school_passing_both

school_name            School Type
Huang High School      District       53.513884
Figueroa High School   District       53.204476
Shelton High School    Charter        89.892107
Hernandez High School  District       53.527508
Griffin High School    Charter        90.599455
Wilson High School     Charter        90.582567
Cabrera High School    Charter        91.334769
Bailey High School     District       54.642283
Holden High School     Charter        89.227166
Pena High School       Charter        90.540541
Wright High School     Charter        90.333333
Rodriguez High School  District       52.988247
Johnson High School    District       53.539172
Ford High School       District       54.289887
Thomas High School     Charter        90.948012
dtype: float64

In [29]:
school_sort_new = school_sort.rename(columns = {'type':'School Type', 'budget':'Total School Budget', 'size':'Total Students'})

In [30]:
school_sort_new.pop('School ID')

school_name            School Type
Huang High School      District        0
Figueroa High School   District        1
Shelton High School    Charter         2
Hernandez High School  District        3
Griffin High School    Charter         4
Wilson High School     Charter         5
Cabrera High School    Charter         6
Bailey High School     District        7
Holden High School     Charter         8
Pena High School       Charter         9
Wright High School     Charter        10
Rodriguez High School  District       11
Johnson High School    District       12
Ford High School       District       13
Thomas High School     Charter        14
Name: School ID, dtype: int64

In [31]:
school_sort_new["Per Student Budget"] = per_student_budget
school_sort_new["Average Math Score"] = school_averages['math_score']
school_sort_new["Average Reading Score"] = school_averages['reading_score']
school_sort_new["% Passing Math"] = per_school_passing_math
school_sort_new["% Passing Reading"] = per_school_passing_reading
school_sort_new["% Overall Passing"] = per_school_passing_both
school_sort_new

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Huang High School,District,2917,1910635,655.0,NaN,NaN,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,NaN,NaN,65.988471,80.739234,53.204476
Shelton High School,Charter,1761,1056600,600.0,NaN,NaN,93.867121,95.854628,89.892107
Hernandez High School,District,4635,3022020,652.0,NaN,NaN,66.752967,80.862999,53.527508
Griffin High School,Charter,1468,917500,625.0,NaN,NaN,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,NaN,NaN,93.867718,96.539641,90.582567
Cabrera High School,Charter,1858,1081356,582.0,NaN,NaN,94.133477,97.039828,91.334769
Bailey High School,District,4976,3124928,628.0,NaN,NaN,66.680064,81.933280,54.642283
Holden High School,Charter,427,248087,581.0,NaN,NaN,92.505855,96.252927,89.227166
Pena High School,Charter,962,585858,609.0,NaN,NaN,94.594595,95.945946,90.540541
Wright High School,Charter,1800,1049400,583.0,NaN,NaN,93.333333,96.611111,90.333333
Rodriguez High School,District,3999,2547363,637.0,NaN,NaN,66.366592,80.220055,52.988247
Johnson High School,District,4761,3094650,650.0,NaN,NaN,66.057551,81.222432,53.539172
Ford High School,District,2739,1763916,644.0,NaN,NaN,68.309602,79.299014,54.289887
Thomas High School,Charter,1635,1043130,638.0,NaN,NaN,93.272171,97.308869,90.948012

In [32]:
school_sort_new.dtypes

Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

### Highest Performing Schools

In [33]:
top_schools = school_sort_new.sort_values("% Overall Passing", ascending=False)
top_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,NaN,NaN,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,NaN,NaN,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,NaN,NaN,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,NaN,NaN,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,NaN,NaN,94.594595,95.945946,90.540541

### Lowest Performing Schools

In [34]:
bottom_schools = school_sort_new.sort_values("% Overall Passing", ascending=True)
bottom_schools.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,School Type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,NaN,NaN,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,NaN,NaN,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,NaN,NaN,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,NaN,NaN,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,NaN,NaN,66.057551,81.222432,53.539172

### Math & Reading Scores by Grade

In [35]:
#Math score using method given in assignment
ninth_graders = student_sort[(student_sort["grade"] == "9th")]
tenth_graders = student_sort[(student_sort["grade"] == "10th")]
eleventh_graders = student_sort[(student_sort["grade"] == "11th")]
twelfth_graders = student_sort[(student_sort["grade"] == "12th")]

ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

math_scores_by_grade = {'9th': ninth_grade_math_scores,'10th':
                        tenth_grader_math_scores, '11th': eleventh_grader_math_scores, '12th':twelfth_grader_math_scores}
math_scores_by_grade_df=pd.DataFrame(math_scores_by_grade)
math_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [36]:
#Reading score using method given in assignment
ninth_graders = student_sort[(student_sort["grade"] == "9th")]
tenth_graders = student_sort[(student_sort["grade"] == "10th")]
eleventh_graders = student_sort[(student_sort["grade"] == "11th")]
twelfth_graders = student_sort[(student_sort["grade"] == "12th")]

ninth_graders_scores = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_scores = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_scores = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_scores = twelfth_graders.groupby(["school_name"]).mean()

ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

reading_scores_by_grade = {'9th': ninth_grade_reading_scores,'10th':
                        tenth_grader_reading_scores, '11th': eleventh_grader_reading_scores, '12th':twelfth_grader_reading_scores}
reading_scores_by_grade_df=pd.DataFrame(reading_scores_by_grade)
reading_scores_by_grade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [37]:
#Math and Readin scores using methods I originally used
Grade_Level_grouped = student_sort.groupby(['school_name', 'grade'])

Grade_averages = Grade_Level_grouped.mean()
Grade_averages

                               Student ID  reading_score  math_score
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

### Scores by School Spending

In [38]:
#Setting up the 'Spending Ranges (Per Student) using Bins'

In [39]:
spending_bins = [0, 585, 630, 645, 680]

In [40]:
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [41]:
school_spending_df = school_sort_new.copy()

In [42]:
school_spending_df['Spending Ranges (Per Student)'] = pd.cut(school_spending_df['Per Student Budget'], 
                                                          spending_bins, labels=labels, include_lowest=True)
school_spending_df

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,School Type,,,,,,,,,
Huang High School,District,2917,1910635,655.0,NaN,NaN,65.683922,81.316421,53.513884,$645-680
Figueroa High School,District,2949,1884411,639.0,NaN,NaN,65.988471,80.739234,53.204476,$630-645
Shelton High School,Charter,1761,1056600,600.0,NaN,NaN,93.867121,95.854628,89.892107,$585-630
Hernandez High School,District,4635,3022020,652.0,NaN,NaN,66.752967,80.862999,53.527508,$645-680
Griffin High School,Charter,1468,917500,625.0,NaN,NaN,93.392371,97.138965,90.599455,$585-630
Wilson High School,Charter,2283,1319574,578.0,NaN,NaN,93.867718,96.539641,90.582567,<$585
Cabrera High School,Charter,1858,1081356,582.0,NaN,NaN,94.133477,97.039828,91.334769,<$585
Bailey High School,District,4976,3124928,628.0,NaN,NaN,66.680064,81.933280,54.642283,$585-630
Holden High School,Charter,427,248087,581.0,NaN,NaN,92.505855,96.252927,89.227166,<$585
Pena High School,Charter,962,585858,609.0,NaN,NaN,94.594595,95.945946,90.540541,$585-630
Wright High School,Charter,1800,1049400,583.0,NaN,NaN,93.333333,96.611111,90.333333,<$585
Rodriguez High School,District,3999,2547363,637.0,NaN,NaN,66.366592,80.220055,52.988247,$630-645
Johnson High School,District,4761,3094650,650.0,NaN,NaN,66.057551,81.222432,53.539172,$645-680
Ford High School,District,2739,1763916,644.0,NaN,NaN,68.309602,79.299014,54.289887,$630-645
Thomas High School,Charter,1635,1043130,638.0,NaN,NaN,93.272171,97.308869,90.948012,$630-645

In [43]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [44]:
spending_math_scores

Spending Ranges (Per Student)
<$585      NaN
$585-630   NaN
$630-645   NaN
$645-680   NaN
Name: Average Math Score, dtype: float64

In [45]:
spending_reading_scores

Spending Ranges (Per Student)
<$585      NaN
$585-630   NaN
$630-645   NaN
$645-680   NaN
Name: Average Reading Score, dtype: float64

In [46]:
spending_passing_math

Spending Ranges (Per Student)
<$585       93.460096
$585-630    87.133538
$630-645    73.484209
$645-680    66.164813
Name: % Passing Math, dtype: float64

In [47]:
spending_passing_reading

Spending Ranges (Per Student)
<$585       96.610877
$585-630    92.718205
$630-645    84.391793
$645-680    81.133951
Name: % Passing Reading, dtype: float64

In [48]:
overall_passing_spending

Spending Ranges (Per Student)
<$585       90.369459
$585-630    81.418596
$630-645    62.857656
$645-680    53.526855
Name: % Overall Passing, dtype: float64

In [49]:
spending_summary = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()

In [50]:
spending_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,,,,
<$585,1592.000000,9.246042e+05,581.000000,NaN,NaN,93.460096,96.610877,90.369459
$585-630,2291.750000,1.421222e+06,615.500000,NaN,NaN,87.133538,92.718205,81.418596
$630-645,2830.500000,1.809705e+06,639.500000,NaN,NaN,73.484209,84.391793,62.857656
$645-680,4104.333333,2.675768e+06,652.333333,NaN,NaN,66.164813,81.133951,53.526855

## Scores by School Size

In [51]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
#school_spending['Spending Ranges (Per Student)'] = pd.cut(school_spending['Per Student Budget'], 
                                                          #spending_bins, labels=labels, include_lowest=True)

In [52]:
school_size = school_sort_new

In [53]:
school_size['Size Range'] = pd.cut(school_size['Total Students'], size_bins, labels=labels, include_lowest=True)
school_size

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Size Range
school_name,School Type,,,,,,,,,
Huang High School,District,2917,1910635,655.0,NaN,NaN,65.683922,81.316421,53.513884,Large (2000-5000)
Figueroa High School,District,2949,1884411,639.0,NaN,NaN,65.988471,80.739234,53.204476,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,NaN,NaN,93.867121,95.854628,89.892107,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,NaN,NaN,66.752967,80.862999,53.527508,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,NaN,NaN,93.392371,97.138965,90.599455,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,NaN,NaN,93.867718,96.539641,90.582567,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,NaN,NaN,94.133477,97.039828,91.334769,Medium (1000-2000)
Bailey High School,District,4976,3124928,628.0,NaN,NaN,66.680064,81.933280,54.642283,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,NaN,NaN,92.505855,96.252927,89.227166,Small (<1000)
Pena High School,Charter,962,585858,609.0,NaN,NaN,94.594595,95.945946,90.540541,Small (<1000)
Wright High School,Charter,1800,1049400,583.0,NaN,NaN,93.333333,96.611111,90.333333,Medium (1000-2000)
Rodriguez High School,District,3999,2547363,637.0,NaN,NaN,66.366592,80.220055,52.988247,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,NaN,NaN,66.057551,81.222432,53.539172,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,NaN,NaN,68.309602,79.299014,54.289887,Large (2000-5000)
Thomas High School,Charter,1635,1043130,638.0,NaN,NaN,93.272171,97.308869,90.948012,Medium (1000-2000)

In [54]:
school_summary = school_size.groupby(["Size Range"]).mean()

In [55]:
school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Size Range,,,,,,,,
Small (<1000),694.500,416972.500,595.000,NaN,NaN,93.550225,96.099437,89.883853
Medium (1000-2000),1704.400,1029597.200,605.600,NaN,NaN,93.599695,96.790680,90.621535
Large (2000-5000),3657.375,2333437.125,635.375,NaN,NaN,69.963361,82.766634,58.286003

## Scores by School Type

In [56]:
type_summary = school_sort_new.groupby(["School Type"]).mean()

In [57]:
type_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,,,
Charter,1524.250000,9.126881e+05,599.500000,NaN,NaN,93.620830,96.586489,90.432244
District,3853.714286,2.478275e+06,643.571429,NaN,NaN,66.548453,80.799062,53.672208