In [1]:
#Setting up and pulling information

In [2]:
import pandas as pd

schools_csv = "Resources/schools_complete.csv"
students_csv = "Resources/students_complete.csv"

schools_data = pd.read_csv(schools_csv)
students_data = pd.read_csv(students_csv)

In [3]:
schools_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#District summary

In [6]:
#Total number of unique schools
Total_Num_Schools = len(schools_data["school_name"].unique())
Total_Num_Schools

15

In [7]:
#Total students
Total_Num_Students = schools_data["size"].sum()
Total_Num_Students.astype('float')

39170.0

In [8]:
#Total budget
Total_District_Budget = schools_data["budget"].sum()
Total_District_Budget

24649428

In [9]:
#Average math score
Math_Average = round((students_data["math_score"].mean()), 0)
Math_Average

79.0

In [10]:
#Average reading score
Reading_Average = round((students_data["reading_score"].mean()), 0)
Reading_Average

82.0

In [11]:
#% passing math (the percentage of students who passed math) provided passing sore is 60
Rows_math_passed = students_data[students_data["math_score"]>69]
Num_math_passed = Rows_math_passed["math_score"].count()
Percentage_Passed_Math = '{:,.2%}'.format(Num_math_passed/Total_Num_Students)
Percentage_Passed_Math

'74.98%'

In [12]:
#% passing reading (the percentage of students who passed reading)
Rows_reading_passed = students_data[students_data["reading_score"]>69]
Num_reading_passed = Rows_reading_passed["reading_score"].count()
Percentage_Passed_Reading = '{:,.2%}'.format(Num_reading_passed/Total_Num_Students)
Percentage_Passed_Reading

'85.81%'

In [13]:
#% overall passing (the percentage of students who passed math AND reading)
passing_student = students_data[(students_data["math_score"]>69) & (students_data["reading_score"]>69)]
Percentage_Passed_Overall = '{:,.2%}'.format((passing_student["Student ID"].count())/Total_Num_Students)
Percentage_Passed_Overall

'65.17%'

In [14]:
District_Sumary = [{"Number of Schools":Total_Num_Schools, "Number of Students":Total_Num_Students, 
                    "Total Budget":'${:,.2f}'.format(Total_District_Budget), "Average Math Score":Math_Average, 
                    "Average Reading Score":Reading_Average, "% Passing Math":Percentage_Passed_Math,
                   "% Passing Reading":Percentage_Passed_Reading, "% Overall Passing":Percentage_Passed_Reading}]

District_Sumary_df = pd.DataFrame(District_Sumary)
District_Sumary_df

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",79.0,82.0,74.98%,85.81%,85.81%

In [15]:
#School Summary

In [16]:
schools_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [20]:
schools_data_expanded = schools_data.rename(columns = {'school_name':'School name', 'type':'School type', 'size':'Total students', 
                               'budget':'Total school budget'})
schools_data_expanded

,School ID,School name,School type,Total students,Total school budget
0,0,Huang High School,District,2917,1910635
1,1,Figueroa High School,District,2949,1884411
2,2,Shelton High School,Charter,1761,1056600
3,3,Hernandez High School,District,4635,3022020
4,4,Griffin High School,Charter,1468,917500
5,5,Wilson High School,Charter,2283,1319574
6,6,Cabrera High School,Charter,1858,1081356
7,7,Bailey High School,District,4976,3124928
8,8,Holden High School,Charter,427,248087
9,9,Pena High School,Charter,962,585858
10,10,Wright High School,Charter,1800,1049400
11,11,Rodriguez High School,District,3999,2547363
12,12,Johnson High School,District,4761,3094650
13,13,Ford High School,District,2739,1763916
14,14,Thomas High School,Charter,1635,1043130

In [26]:
schools_data_expanded["Per student budget"] = schools_data_expanded["Total school budget"]/schools_data_expanded["Total students"]
schools_data_expanded

,School ID,School name,School type,Total students,Total school budget,Per student budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0
5,5,Wilson High School,Charter,2283,1319574,578.0
6,6,Cabrera High School,Charter,1858,1081356,582.0
7,7,Bailey High School,District,4976,3124928,628.0
8,8,Holden High School,Charter,427,248087,581.0
9,9,Pena High School,Charter,962,585858,609.0
10,10,Wright High School,Charter,1800,1049400,583.0
11,11,Rodriguez High School,District,3999,2547363,637.0
12,12,Johnson High School,District,4761,3094650,650.0
13,13,Ford High School,District,2739,1763916,644.0
14,14,Thomas High School,Charter,1635,1043130,638.0

In [39]:
grouped_by_school = students_data.groupby(["school_name"])
grouped_by_school.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
37535,37535,Norma Mata,F,10th,Thomas High School,76,76
37536,37536,Cody Miller,M,11th,Thomas High School,84,82
37537,37537,Erik Snyder,M,9th,Thomas High School,80,90
37538,37538,Tanya Martinez,F,9th,Thomas High School,71,69
37539,37539,Noah Erickson,M,9th,Thomas High School,86,76

In [41]:
Average_Math_Score = grouped_by_school["math_score"].mean()
Average_Math_Score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [42]:
Average_Reading_Score = grouped_by_school["reading_score"].mean()
Average_Reading_Score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [46]:
Percent_passed_math = grouped_by_school[grouped_by_school["math_score"]>=70]

TypeError: '>=' not supported between instances of 'SeriesGroupBy' and 'int'

In [47]:
grouped_by_school.dtypes

,Student ID,student_name,gender,grade,reading_score,math_score
school_name,,,,,,
Bailey High School,int64,object,object,object,int64,int64
Cabrera High School,int64,object,object,object,int64,int64
Figueroa High School,int64,object,object,object,int64,int64
Ford High School,int64,object,object,object,int64,int64
Griffin High School,int64,object,object,object,int64,int64
Hernandez High School,int64,object,object,object,int64,int64
Holden High School,int64,object,object,object,int64,int64
Huang High School,int64,object,object,object,int64,int64
Johnson High School,int64,object,object,object,int64,int64
Pena High School,int64,object,object,object,int64,int64
Rodriguez High School,int64,object,object,object,int64,int64
Shelton High School,int64,object,object,object,int64,int64
Thomas High School,int64,object,object,object,int64,int64
Wilson High School,int64,object,object,object,int64,int64
Wright High School,int64,object,object,object,int64,int64